<!--<div class="container-fluid">
  <div class="row"><input type="text" ng-model="team.name" placeholder="Enter Team Name"></div>
  <div class="row"> <input type="text" ng-model="team.initials" placeholder="Enter Initial Team Name "></div>
  <div class="row">Upload Team Logo :<input type="file" file-model="team.logo" on-change-event="uploader()"></div>



  <button ng-click="registerteam()">Submit</button>
  <div class="row"></div>

</div>-->

<div class="container-fluid">
	<div class="create-teams-wrapper">
		<div class="body-create-team">
			<!--  TOP SECTION -->
			<div class="nav-create-team">
				<span><input class="disable" type="text" placeholder="CREATE POST" disabled></span>
			</div>
			<!--  FORM SECTION -->
			<div class="form-create-team row">
				<form ng-submit="addpost()">
					<div class="first-sec-wrapp">
						<!-- DATE  -->
						<div class="first-div">
							<label>Scheduled At :</label>
							<input ng-model="post.datetime" id="postdateinput" type="date" required>


							<!-- POST TYPE  -->
							<div class="select-category-wrapp">
								<label>This is a : </label>
								<div class="row">

									<input type="radio" class="radio-select" ng-model="post.posttype_id" value="1"> News

									<input type="radio" class="radio-select" ng-model="post.posttype_id" value="2"> Event

									<input type="radio" class="radio-select" ng-model="post.posttype_id" value="3"> Notice

									<input type="radio" class="radio-select" ng-model="post.posttype_id" value="4"> Announcement

								</div>

							</div>

							<!-- LANGUAGE  -->
							<div class="select-category-wrapp language-details">
								<label>Language :</label>
								<div class="row">
									<input type="radio" class="radio-select" ng-model="post.language_id" value="1"> All
									<input type="radio" class="radio-select" ng-model="post.language_id" value="2"> Odia
								</div>

							</div>

							<!--  HEADLINE -->
							<div>
								<label>Newspaper Headline :</label>
								<input type="text" ng-model="post.newspaper_headline" style="margin-bottom: 12px;" class="news-heading" required>
							</div>
							<!-- SERIES -->
							
								<label>Series :</label>
								<input type="text" ng-model="post.series" class="news-heading" type="text">
							

							<!--  HASH TAGS -->
							<div>
								<label>Hash Tags :</label>
								<input type="text" ng-model="post.hashtags" class="news-heading" required>
							</div>

							

							<!-- CATCHY WORDS -->
							<div>
								<label>Catchy Words :</label>
								<input ng-model="post.catchy_words" type="text" required>
							</div>
						</div>

						<!-- IMAGE -->
						<div class="second-div">

							<div>
								<label>Upload Image :</label>
								<input type="file" file-model="post.image" on-change-event="uploader()">
							</div>

							<!-- SOURCE NAME -->
							<div>
								<label>Source Name :</label>
								<input ng-model="post.source_text" type="text">
							</div>

							<!-- SOURCE URL -->
							<div>
								<label>Source URL :</label>
								<input ng-model="post.source_url" type="text">
							</div>

							<!-- SPONSOR URL -->
							<div>
								<label>Sponsor URL :</label>
								<input ng-model="post.sponsor_url" type="text">
							</div>

							<!-- SPOnSOR TEXT -->
							<div>
								<label>Sponsor Text :</label>
								<input ng-model="post.sponsor_text" type="text" required>
							</div>
						</div>
					</div>
					<!-- SUBMIT BUTTON -->
					<div class="create-team-button text-center">
						<button type="submit" name="button" class="submit-button">Submit</button>
						<button type="cancel" name="button" ng-click="cancelaction()" class="submit-button">Cancel</button>
					</div>


				</form>

			</div>

		</div>


	</div>

</div>
