<div class="list-wrapper">
  <div class="list-body">
       <div class="button-div">
      <button type="submit" name="button" ng-click="addnewtournament()">Add Fixtures</button></div>
    <!--Top Section-->
    <div class="body-block">
    <div class="list-nav">
      <span class="item-width-1">Sr. No.</span>
      <span class="item-width-3">CATEGORY NAME</span>
      <span class="item-width-3">MATCH TYPE</span>
      <span class="item-width-3">GROUP NAME</span>
      <span class="item-width-3">TEAM A</span>
      <span class="item-width-3">TEAM B</span>
      <span class="item-width-3">VENUE</span>
      <span class="item-width-3">DATE</span>
      <span class="item-width-2">TIME</span>
    </div>

        <!--Fixtures Items-->
        
  <div class="list-item">
    <span class="item-width-1">1.</span>
    <span class="item-width-3">ABC</span>
    <span class="item-width-3">XYZ</span>
    <span class="item-width-3">Pixolo</span>
    <span class="item-width-3">TEAM A</span>
    <span class="item-width-3">TEAM B</span>
    <span class="item-width-3">Somaiya, Vidyavihar</span>
    <span class="item-width-3">Today</span>
    <span class="item-width-2">Now</span>
            </div></div>


    <!-- <div class="tour-items-editable">
      <span>2.</span>
      <span><input class="" type="text" placeholder="Enter Name"></span>
      <span><input class="" type="text" placeholder="Enter Primary Color"></span>
      <span><input class="" type="text"placeholder="Enter Secondary Color"></span>
      <span>

        <a href="#"><svg enable-background="new 0 0 426.667 426.667" version="1.1" viewBox="0 0 426.67 426.67" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
<path d="m213.33 0c-117.82 0-213.33 95.514-213.33 213.33s95.518 213.33 213.33 213.33c117.83 0 213.33-95.514 213.33-213.33s-95.509-213.33-213.33-213.33zm-39.134 322.92-93.935-93.931 31.309-31.309 62.626 62.622 140.89-140.9 31.309 31.309-172.2 172.21z" fill="#6AC259"/>
</svg></a>

<a href="#"><svg enable-background="new 0 0 56.061 56.062" version="1.1" viewBox="0 0 56.061 56.062" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
  <path d="m40.149 12.335h-24.235c-2.02 0-3.661 1.653-3.661 3.694l1.653 36.37c0 2.021 1.644 3.662 3.662 3.662h20.926c2.021 0 3.662-1.632 3.662-3.63l1.653-36.436c2e-3 -2.016-1.643-3.66-3.66-3.66zm-1.657 40.112-20.971-0.078-1.654-36.372c0-0.024 0.021-0.046 0.047-0.046l24.28 0.014-1.702 36.482z"/>
  <path d="m28.05 50.393c1.069 0 1.94-0.87 1.94-1.939v-26.224c0-1.068-0.869-1.938-1.94-1.938-1.068 0-1.938 0.87-1.938 1.938v26.223c1e-3 1.069 0.869 1.94 1.938 1.94z"/>
  <path d="m35.069 50.392h0.02c1.059 0 1.93-0.859 1.941-1.918l0.299-26.22c6e-3 -0.519-0.189-1.007-0.553-1.378s-0.846-0.578-1.387-0.584c-1.06 0-1.929 0.859-1.939 1.917l-0.301 26.22c-0.01 1.07 0.849 1.951 1.92 1.963z"/>
  <path d="m20.972 50.392h0.02c1.07-0.013 1.931-0.894 1.918-1.963l-0.299-26.22c-0.012-1.058-0.883-1.917-1.961-1.917-0.52 6e-3 -1.004 0.213-1.367 0.584-0.362 0.371-0.557 0.859-0.551 1.378l0.299 26.22c0.011 1.058 0.883 1.918 1.941 1.918z"/>
  <path d="m14.707 10.91 27.086-1.562c0.468-0.026 0.896-0.233 1.209-0.585 0.312-0.35 0.47-0.8 0.438-1.266-0.053-0.929-0.819-1.653-1.75-1.653l-27.086 1.562c-0.467 0.026-0.896 0.233-1.207 0.585-0.312 0.35-0.471 0.8-0.44 1.267 0.049 0.926 0.819 1.652 1.75 1.652zm0-0.514v0 0.014-0.014z"/>
  <path d="m23.854 6.294 0.104-3e-3c0.481-0.027 0.926-0.241 1.245-0.603 0.322-0.36 0.484-0.824 0.455-1.307l0.021-0.49 4.833-0.232 0.025 0.44c0.057 0.956 0.848 1.704 1.803 1.704l0.106-3e-3c0.482-0.028 0.926-0.242 1.246-0.603 0.322-0.36 0.481-0.825 0.455-1.308l-0.025-0.439c-0.115-2.007-1.848-3.553-3.865-3.445l-4.787 0.276c-2.017 0.115-3.562 1.852-3.443 3.866l0.025 0.441c0.054 0.958 0.845 1.706 1.802 1.706zm0-0.511v0.013-0.013z"/>
</svg></a>

</span>
    </div> -->
   
  </div>
</div>

