<footer class="footer">
  <div class="container-fluid">
    <p class="copyright text-center footer-text">
      &copy;
      <a href="http://www.pixoloproductions.com" class="pixolo-footer-link">Pixolo Team</a>, made with love for a better web
    </p>
  </div>
</footer>