<div class="main">
		<div class="login">
		<div class="photo">
			<img src="img/DTIX-Logo.png">
		</div>
		<form  id="login-form">
			<div id="u" class="form-group">
			  <input id="username" ng-model="adminpaneluser.email" spellcheck=false class="form-control" name="username" type="text" size="18" alt="login" required="">
			  <span class="form-highlight"></span>
			  <span class="form-bar"></span>
			  <label for="username" class="float-label" >Email</label>
			</div>
			<div id="p" class="form-group">
			  <input id="password" ng-model="adminpaneluser.password" class="form-control" spellcheck=false name="password" type="password" size="18" alt="login" required="">
			  <span class="form-highlight"></span>
			  <span class="form-bar"></span>
			  <label for="password" class="float-label" >Password</label> 
			</div>
			<div class="form-group" id="button">
				<button id="submit" class="btn-login" ripple ng-click="login()">Login</button>
			</div>
			</form>
		</div>
		</div>