<div>
	<div class="fcblogo">
		<img src="img/DTIX-Logo.png" height="40" width="100">
	</div>

	<div class="menu-items-wrapper">
		<ul class="menu-items">
			<li class="menu-item active">
				<a href="#/users">
					<p class="menu-item-text">Users</p>
					<svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
						<g>
							<g>
								<polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
							</g>
						</g>
					</svg>
				</a>
			</li>

			<li class="menu-item">
				<a href="#/broadcasts">
					<p class="menu-item-text">Broadcast</p>
					<svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
						<g>
							<g>
								<polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
							</g>
						</g>
					</svg>
				</a>
			</li>
			<li class="menu-item">
				<a href="#/posts">
					<p class="menu-item-text">Posts</p>
					<svg width="512px" height="512px" enable-background="new 0 0 306 306" viewBox="0 0 306 306" xml:space="preserve">
						<g>
							<g>
								<polygon points="94.35 0 58.65 35.7 175.95 153 58.65 270.3 94.35 306 247.35 153" fill="#fff" />
							</g>
						</g>
					</svg>
				</a>
			</li>


		</ul>
	</div>
</div>
