<div class="categories-wrapper list-wrapper">

	<!-- ADD CATEGORY BUTTON -->
	<div class="button-div">
		<button type="submit" name="button" ng-click="gotocreatepost()">
			<svg enable-background="new 0 0 52 52" version="1.1" viewBox="0 0 52 52" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
				<path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M38.5,28H28v11c0,1.104-0.896,2-2,2  s-2-0.896-2-2V28H13.5c-1.104,0-2-0.896-2-2s0.896-2,2-2H24V14c0-1.104,0.896-2,2-2s2,0.896,2,2v10h10.5c1.104,0,2,0.896,2,2  S39.604,28,38.5,28z" />
			</svg>
			CREATE POST</button>
	</div>

	<div class="list-body body-categories">
		<!--  Top Section-->
		<div class="list-nav">
			<span>ID</span>
			<span><input class="disable text-center nav-name" type="text" placeholder="Date" disabled></span>
			<span><input class="disable text-center nav-name" type="text" placeholder="Post Type" disabled></span>
			<span><input class="disable text-center nav-name" type="text" placeholder="Headline" disabled></span>
			<span><input class="disable text-center nav-name" type="text" placeholder="Language" disabled></span>
			<span>Actions</span>
		</div>

		<!--  Category Items Disabled-->
		<div class="list-item" ng-repeat="post in posts" ng-class-odd="'odd'" ng-class-even="'even'">
			<span>{{$index+1}}</span>

			<span>
				{{post.datetime}}
			</span>
			<div>
				<span ng-if="post.posttype_id=='1'">
					News
				</span>
				<span ng-if="post.posttype_id=='4'">
				Announcements
			</span>
			<span ng-if="post.posttype_id=='2'">
				Events
			</span>
			<span ng-if="post.posttype_id=='3'">
				Notices
			</span>
			</div>

			<span>
				<p class="heading-title">{{post.newspaper_headline}} </p>
			</span>

			<span ng-if="post.language_id=='1'">All</span>
			<span ng-if="post.language_id=='2'">Odia</span>
			<div class="row icon-wrapper">
				<span>
					<a ng-click="gotoedit(post.id)">
						<svg enable-background="new 0 0 469.336 469.336" version="1.1" viewBox="0 0 469.34 469.34" class="delete-edit-icon" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
							<path d="m456.84 76.168-64-64.054c-16.125-16.139-44.177-16.17-60.365 0.031l-286.71 289.54c-1.271 1.282-2.188 2.857-2.688 4.587l-42.666 149.46c-1.063 3.722-0.021 7.736 2.719 10.478 2.031 2.033 4.75 3.128 7.542 3.128 0.979 0 1.969-0.136 2.927-0.407l149.33-42.703c1.729-0.5 3.302-1.418 4.583-2.69l289.32-286.98c8.063-8.069 12.5-18.787 12.5-30.192s-4.437-22.124-12.5-30.193zm-170.85 13.569 39.264 39.264-205 205-14.712-29.434c-1.813-3.615-5.5-5.896-9.542-5.896h-17.082l207.07-208.93zm-259.79 353.4 13.894-48.637 34.742 34.742-48.636 13.895zm123.14-35.177-51.035 14.579-51.503-51.503 14.579-51.035h28.031l18.385 36.771c1.031 2.063 2.708 3.74 4.771 4.771l36.771 18.385v28.032zm21.334-17.543v-17.082c0-4.042-2.281-7.729-5.896-9.542l-29.434-14.712 205-205 39.264 39.264-208.93 207.07zm271.11-268.7-47.033 46.613-93.747-93.747 46.582-47.001c8.063-8.063 22.104-8.063 30.167 0l64 64c4.031 4.031 6.25 9.385 6.25 15.083s-2.219 11.052-6.219 15.052z" /></svg>
					</a>
					<a ng-click="deleteconfirmation(post.id)" data-toggle="modal" data-target="#myModal">
						<svg enable-background="new 0 0 612 612" class="delete-edit-icon" version="1.1" viewBox="0 0 612 612" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
							<path d="m612 306c0-169-137-306-306-306-169 0-306 137-306 306 0 169 137 306 306 306 169 0 306-137 306-306zm-443.7 118.03 118.03-118.03-118.03-118.03 19.667-19.667 118.03 118.03 118.03-118.03 19.668 19.667-118.03 118.03 118.03 118.03-19.668 19.668-118.03-118.03-118.03 118.03-19.667-19.668z" /></svg>
					</a>
				</span>
				<!--MODAL-->


				
			</div>


		</div>
		

	</div>
	
	<div class="modal-dialog modal-sm popup-wrapper">
					<div class="modal-content">

						<div class="modal-body">
							<p class="popup-title">Are you sure want to delete this?</p>
						</div>
						<div class="modal-footer">
							<button ng-click="deletepost()" type="button" class="btn btn-default btn-yes" data-dismiss="modal">YES</button>
							<button ng-click="hideconfirmation()" type="button" class="btn btn-default btn-no" data-dismiss="modal">NO</button>
						</div>
					</div>
				</div>

</div>
