<div ng-show="showupload" class="loaderdiv">
  <img id="uploadimage" src="img/uploadgif.gif" width="50%" style="margin-top: 4%;">
</div>

<div class="main-wrapper">

  <div class="main-sidebar">
    <div ng-include="template.menu" class="menu-wrapper">
      <!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->
    </div>
  </div>

  <div class="main-panel">
    <div ng-include="template.header">

    </div>

    <div class="content" ng-include="template.content">

    </div>

    <div ng-include="template.footer" class="main-footer template footer"></div>

  </div>

</div>