<div class="tournaments-wrapper list-wrapper">

    <div class="body-tour list-body">
        <div class="nav-tour list-nav">
            <span>No.</span>
            <span><input class="disable nav-name" type="text" placeholder="Contact" disabled></span>
            <span><input class="disable text-center" type="text" placeholder="Email" disabled></span>
            <span>Actions</span>
        </div>
        <div class="body-block">
            <div class="tour-items" ng-repeat="user in users" ng-class-odd="'odd'" ng-class-even="'even'">
                <span>{{$index+1}}</span>
                <span>
                  <div class="tour-name">
                    <input type="text"  ng-model="user.contact" ng-disabled="!(user|getproperty)" ng-class-odd="'odd'" ng-class-even="'even'" >
                  </div>
                </span>
            <span>
              <input type="text"  ng-model="user.email" ng-disabled="!(user|getproperty)" ng-class-odd="'odd'" ng-class-even="'even'">
            </span>

            <!--  EDIT BUTTON-->
            <span>
      <a class="action-button" href="" ng-if="!(tournament|getproperty)" ng-click="edittournament(tournament)"><svg enable-background="new 0 0 55.25 55.25" version="1.1" viewBox="0 0 55.25 55.25" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
      <path d="m52.618 2.631c-3.51-3.508-9.219-3.508-12.729 0l-36.062 36.062c-0.017 0.017-0.027 0.038-0.042 0.056-0.021 0.024-0.039 0.05-0.058 0.076-0.053 0.074-0.094 0.153-0.125 0.239-9e-3 0.026-0.022 0.049-0.029 0.075-3e-3 0.01-9e-3 0.02-0.012 0.03l-3.535 14.85c-0.016 0.067-0.02 0.135-0.022 0.202 0 0.013-4e-3 0.025-4e-3 0.038 1e-3 0.114 0.026 0.225 0.065 0.332 9e-3 0.025 0.019 0.047 0.03 0.071 0.049 0.107 0.11 0.21 0.196 0.296 0.095 0.095 0.207 0.168 0.328 0.218s0.25 0.075 0.379 0.075c0.077 0 0.155-9e-3 0.231-0.027l14.85-3.535c0.027-6e-3 0.051-0.021 0.077-0.03 0.034-0.011 0.066-0.024 0.099-0.039 0.072-0.033 0.139-0.074 0.201-0.123 0.024-0.019 0.049-0.033 0.072-0.054 8e-3 -8e-3 0.018-0.012 0.026-0.02l36.063-36.063c3.51-3.51 3.51-9.22 1e-3 -12.729zm-1.414 1.414c2.488 2.489 2.7 6.397 0.65 9.137l-9.787-9.787c2.741-2.05 6.649-1.838 9.137 0.65zm-4.95 14.85-9.9-9.9 1.414-1.414 9.9 9.9-1.414 1.414zm-41.293 31.393c-0.391-0.391-1.023-0.391-1.414 0l-0.757 0.757 2.554-10.728 4.422-0.491-0.569 5.122c-4e-3 0.038 0.01 0.073 0.01 0.11 0 0.038-0.014 0.072-0.01 0.11 4e-3 0.033 0.021 0.06 0.028 0.092 0.012 0.058 0.029 0.111 0.05 0.165 0.026 0.065 0.057 0.124 0.095 0.181 0.031 0.046 0.062 0.087 0.1 0.127 0.048 0.051 0.1 0.094 0.157 0.134 0.045 0.031 0.088 0.06 0.138 0.084 0.066 0.031 0.135 0.049 0.207 0.066 0.038 9e-3 0.069 0.03 0.108 0.035 0.036 4e-3 0.072 6e-3 0.109 6e-3h1e-3 1e-3 1e-3 1e-3c0.036 0 0.073-2e-3 0.109-6e-3l5.122-0.569-0.491 4.422-10.729 2.554 0.757-0.757c0.39-0.39 0.39-1.023 0-1.414zm12.55-5.479 22.378-22.379c0.391-0.391 0.391-1.023 0-1.414s-1.023-0.391-1.414 0l-22.378 22.379-4.773 0.53 0.53-4.773 22.38-22.378c0.391-0.391 0.391-1.023 0-1.414s-1.023-0.391-1.414 0l-22.38 22.378-3.183 0.354 27.683-27.683 9.9 9.9-27.683 27.683 0.354-3.183zm31.571-28.742-9.9-9.9 1.415-1.415 9.9 9.9-1.415 1.415z"/>
      </svg>
      </a>

      <!-- SAVE BUTTON -->
      <a class="action-button" href="" ng-if="(tournament|getproperty)" ng-click="savetournament(tournament)" ><svg enable-background="new 0 0 426.667 426.667" version="1.1" viewBox="0 0 426.67 426.67" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
      <path d="m213.33 0c-117.82 0-213.33 95.514-213.33 213.33s95.518 213.33 213.33 213.33c117.83 0 213.33-95.514 213.33-213.33s-95.509-213.33-213.33-213.33zm-39.134 322.92-93.935-93.931 31.309-31.309 62.626 62.622 140.89-140.9 31.309 31.309-172.2 172.21z" fill="#6AC259"/>
      </svg></a>


      <!--Cancel Button-->
      <a class="action-button" ng-if="(tournament|getproperty)" ng-click="canceladdition(tournament)"><svg enable-background="new 0 0 612 612" version="1.1" viewBox="0 0 612 612" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
			<path d="m420.5 218.79c-0.286-6.942-2.868-13.827-8.186-19.125-5.297-5.298-12.183-7.898-19.125-8.186-7.726-0.325-15.548 2.276-21.438 8.186l-65.752 65.771-65.752-65.771c-5.909-5.91-13.712-8.492-21.439-8.186-6.942 0.287-13.827 2.869-19.125 8.186-5.297 5.298-7.898 12.183-8.186 19.125-0.325 7.727 2.276 15.529 8.186 21.439l65.752 65.771-65.752 65.752c-5.91 5.909-8.492 13.713-8.186 21.438 0.287 6.942 2.869 13.828 8.186 19.125 5.298 5.298 12.183 7.899 19.125 8.186 7.727 0.325 15.53-2.275 21.439-8.186l65.752-65.751 65.771 65.771c5.91 5.909 13.713 8.491 21.439 8.186 6.942-0.287 13.827-2.869 19.125-8.186 5.298-5.298 7.898-12.183 8.186-19.125 0.325-7.727-2.276-15.529-8.186-21.439l-65.771-65.771 65.751-65.752c5.911-5.909 8.511-13.712 8.186-21.458zm-114.5-218.79c-168.99 0-306 137.01-306 306s137.01 306 306 306 306-137.01 306-306-137.01-306-306-306zm0 554.62c-137.09 0-248.62-111.54-248.62-248.62s111.54-248.62 248.62-248.62 248.62 111.54 248.62 248.62-111.54 248.62-248.62 248.62z"/></svg></a>


  <!-- DELETE BUTTON -->
  <a class="action-button" ng-if="!(tournament|getproperty)" ng-click="deletetournament(tournament)"><svg enable-background="new 0 0 56.061 56.062" version="1.1" viewBox="0 0 56.061 56.062" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
    <path d="m40.149 12.335h-24.235c-2.02 0-3.661 1.653-3.661 3.694l1.653 36.37c0 2.021 1.644 3.662 3.662 3.662h20.926c2.021 0 3.662-1.632 3.662-3.63l1.653-36.436c2e-3 -2.016-1.643-3.66-3.66-3.66zm-1.657 40.112-20.971-0.078-1.654-36.372c0-0.024 0.021-0.046 0.047-0.046l24.28 0.014-1.702 36.482z"/>
    <path d="m28.05 50.393c1.069 0 1.94-0.87 1.94-1.939v-26.224c0-1.068-0.869-1.938-1.94-1.938-1.068 0-1.938 0.87-1.938 1.938v26.223c1e-3 1.069 0.869 1.94 1.938 1.94z"/>
    <path d="m35.069 50.392h0.02c1.059 0 1.93-0.859 1.941-1.918l0.299-26.22c6e-3 -0.519-0.189-1.007-0.553-1.378s-0.846-0.578-1.387-0.584c-1.06 0-1.929 0.859-1.939 1.917l-0.301 26.22c-0.01 1.07 0.849 1.951 1.92 1.963z"/>
    <path d="m20.972 50.392h0.02c1.07-0.013 1.931-0.894 1.918-1.963l-0.299-26.22c-0.012-1.058-0.883-1.917-1.961-1.917-0.52 6e-3 -1.004 0.213-1.367 0.584-0.362 0.371-0.557 0.859-0.551 1.378l0.299 26.22c0.011 1.058 0.883 1.918 1.941 1.918z"/>
    <path d="m14.707 10.91 27.086-1.562c0.468-0.026 0.896-0.233 1.209-0.585 0.312-0.35 0.47-0.8 0.438-1.266-0.053-0.929-0.819-1.653-1.75-1.653l-27.086 1.562c-0.467 0.026-0.896 0.233-1.207 0.585-0.312 0.35-0.471 0.8-0.44 1.267 0.049 0.926 0.819 1.652 1.75 1.652zm0-0.514v0 0.014-0.014z"/>
    <path d="m23.854 6.294 0.104-3e-3c0.481-0.027 0.926-0.241 1.245-0.603 0.322-0.36 0.484-0.824 0.455-1.307l0.021-0.49 4.833-0.232 0.025 0.44c0.057 0.956 0.848 1.704 1.803 1.704l0.106-3e-3c0.482-0.028 0.926-0.242 1.246-0.603 0.322-0.36 0.481-0.825 0.455-1.308l-0.025-0.439c-0.115-2.007-1.848-3.553-3.865-3.445l-4.787 0.276c-2.017 0.115-3.562 1.852-3.443 3.866l0.025 0.441c0.054 0.958 0.845 1.706 1.802 1.706zm0-0.511v0.013-0.013z"/>
  </svg></a>

</span>

        </div>
    </div>
    <!-- <div class="tour-items-editable">
      <span>2.</span>
      <span><input class="" type="text" placeholder="Enter Name"></span>
      <span><input class="" type="text" placeholder="Enter Primary Color"></span>
      <span><input class="" type="text"placeholder="Enter Secondary Color"></span>
      <span>

        <a href="#"><svg enable-background="new 0 0 426.667 426.667" version="1.1" viewBox="0 0 426.67 426.67" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
<path d="m213.33 0c-117.82 0-213.33 95.514-213.33 213.33s95.518 213.33 213.33 213.33c117.83 0 213.33-95.514 213.33-213.33s-95.509-213.33-213.33-213.33zm-39.134 322.92-93.935-93.931 31.309-31.309 62.626 62.622 140.89-140.9 31.309 31.309-172.2 172.21z" fill="#6AC259"/>
</svg></a>

<a href="#"><svg enable-background="new 0 0 56.061 56.062" version="1.1" viewBox="0 0 56.061 56.062" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
  <path d="m40.149 12.335h-24.235c-2.02 0-3.661 1.653-3.661 3.694l1.653 36.37c0 2.021 1.644 3.662 3.662 3.662h20.926c2.021 0 3.662-1.632 3.662-3.63l1.653-36.436c2e-3 -2.016-1.643-3.66-3.66-3.66zm-1.657 40.112-20.971-0.078-1.654-36.372c0-0.024 0.021-0.046 0.047-0.046l24.28 0.014-1.702 36.482z"/>
  <path d="m28.05 50.393c1.069 0 1.94-0.87 1.94-1.939v-26.224c0-1.068-0.869-1.938-1.94-1.938-1.068 0-1.938 0.87-1.938 1.938v26.223c1e-3 1.069 0.869 1.94 1.938 1.94z"/>
  <path d="m35.069 50.392h0.02c1.059 0 1.93-0.859 1.941-1.918l0.299-26.22c6e-3 -0.519-0.189-1.007-0.553-1.378s-0.846-0.578-1.387-0.584c-1.06 0-1.929 0.859-1.939 1.917l-0.301 26.22c-0.01 1.07 0.849 1.951 1.92 1.963z"/>
  <path d="m20.972 50.392h0.02c1.07-0.013 1.931-0.894 1.918-1.963l-0.299-26.22c-0.012-1.058-0.883-1.917-1.961-1.917-0.52 6e-3 -1.004 0.213-1.367 0.584-0.362 0.371-0.557 0.859-0.551 1.378l0.299 26.22c0.011 1.058 0.883 1.918 1.941 1.918z"/>
  <path d="m14.707 10.91 27.086-1.562c0.468-0.026 0.896-0.233 1.209-0.585 0.312-0.35 0.47-0.8 0.438-1.266-0.053-0.929-0.819-1.653-1.75-1.653l-27.086 1.562c-0.467 0.026-0.896 0.233-1.207 0.585-0.312 0.35-0.471 0.8-0.44 1.267 0.049 0.926 0.819 1.652 1.75 1.652zm0-0.514v0 0.014-0.014z"/>
  <path d="m23.854 6.294 0.104-3e-3c0.481-0.027 0.926-0.241 1.245-0.603 0.322-0.36 0.484-0.824 0.455-1.307l0.021-0.49 4.833-0.232 0.025 0.44c0.057 0.956 0.848 1.704 1.803 1.704l0.106-3e-3c0.482-0.028 0.926-0.242 1.246-0.603 0.322-0.36 0.481-0.825 0.455-1.308l-0.025-0.439c-0.115-2.007-1.848-3.553-3.865-3.445l-4.787 0.276c-2.017 0.115-3.562 1.852-3.443 3.866l0.025 0.441c0.054 0.958 0.845 1.706 1.802 1.706zm0-0.511v0.013-0.013z"/>
</svg></a>

</span>
    </div> -->

</div>
